.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.blogs {
  box-sizing: border-box;

}

.blog {
  width: 47%;
  overflow: hidden;
  float: left;
  background-color: goldenrod;
  border-radius: 10px;
  /* border: 3px solid rebeccapurple; */
  margin: 15px 10px;
  padding: 10px;
  box-shadow: 5px 10px 5px gray;
}

.mobile {
  background-color: rgb(118, 172, 219);
  width: 47%;
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 10px 5px gray;
  text-transform: uppercase;
  font-weight: bold;
}

button {
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: beige;
}

.todos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.todo {
  background-color: burlywood;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 10px 5px #ab7f7f;
}